/* Especificidad 012 */
@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
    }
    nav a {
        text-align: center;
        padding: 0.5em;
    }
    section {
        padding: 1em;
    }
}
