/* Especificidad 001 */
body {
    font-family: 'Arial', sans-serif;
    font-size: 1.2em; /* Aumentado para mejorar la legibilidad */
    background-color: #F5F5F5; /* Gris claro, fondo limpio */
    color: #333333; /* Gris oscuro para el texto principal */
    margin: 0;
    padding: 0;
}

/* Especificidad 001 */
header {
    background-color: #2C3E50; /* Azul grisáceo profesional */
    color: white;
    text-align: center;
    padding: 1.2em 0;
}

/* Especificidad 002 */
header h1 {
    margin: 0;
    font-size: 2.5em; /* Aumentado para mayor impacto */
}

/* Especificidad 001 */
nav {
    background-color: #34495E; /* Azul oscuro moderno */
    display: flex;
    justify-content: center;
    padding: 0.8em 0;
}

/* Especificidad 002 */
nav a {
    color: white;
    text-decoration: none;
    padding: 1.2em;
    font-size: 1.1em; /* Aumentado para mejor lectura */
    font-weight: bold;
}

/* Especificidad 002 */
nav a:hover {
    background-color: #5D6D7E; /* Azul grisáceo más claro */
    transition: 0.3s;
}

/* Especificidad 010 */
.active {
    text-decoration: underline;
    font-weight: 900;
}

/* Especificidad 001 */
section {
    padding: 2.5em;
    text-align: left;
}

/* Especificidad 002 */
section h2 {
    color: #2C3E50; /* Azul oscuro sobrio */
    border-bottom: 2px solid #5D6D7E; /* Gris azulado */
    padding-bottom: 0.6em;
    font-size: 2em; /* Aumentado para mayor claridad */
}

/* Especificidad 001 */
ol, ul {
    padding-left: 2.5em;
    font-size: 1.1em; /* Aumentado para mejorar lectura */
}

/* Especificidad 002 */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

/* Especificidad 002 */
th, td {
    border: 1px solid #5D6D7E;
    padding: 1em;
    text-align: left;
    font-size: 1.1em; /* Mejor visibilidad */
}

/* Especificidad 002 */
th {
    background-color: #D5DBDB; /* Gris claro para mejor contraste */
    color: #2C3E50; /* Azul oscuro */
    font-weight: bold;
}

/* Especificidad 001 */
dl {
    background-color: #ECF0F1; /* Gris muy claro para fondo suave */
    padding: 1.2em;
    border-radius: 8px;
    border: 1px solid #BDC3C7;
    font-size: 1.1em;
}

/* Especificidad 002 */
dl dt {
    font-weight: bold;
    color: #2C3E50;
    margin-top: 12px;
    font-size: 1.2em; /* Destacado */
}

/* Especificidad 002 */
dl dd {
    margin-left: 25px;
    font-style: italic;
    font-size: 1.1em;
}